node_modules
node_modules/
**/node_modules/**
.expo
.expo/
**/.expo/**
dist
dist/
web-build
web-build/
.git
.git/
**/.git/**
.env
.env.local
.env*.local
npm-debug.*
yarn-debug.*
yarn-error.*
*.tsbuildinfo
android
android/
ios
ios/
